* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main-header {
    font-size: 46px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid lightgray;
    margin-bottom: 30px;
}

.logo {
    vertical-align: middle;
    width: 63px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid lightgray;
}

nav {
    padding: 10px;    
}

.button {
    border-radius: 5px;
    padding: 7px;
    font-size: 11px;
}

.button.task {
    background-color: #47adf1;
    color: white;
    border: none;
    margin-left: 30px;
}

.button.section {
    background-color: white;
    color: lightgray;
    border: 1px solid lightgrey;
}

.container.second {
    padding: 38px;
    border: 1px solid lightgrey;
}

.job {
    margin-bottom: 25px;
}

li {
    list-style: none;
    margin-bottom: 10px;
}

ul {
    margin-top: 10px;
}

.triangle {
    font-size: 14px;
    margin-right: 2px;
}

.check {
    display: inline-block;
    width: 15px;
    text-align: center;
    line-height: 10px;
    border: 1px solid #6fc5b0;
    border-radius: 50%;
    color: #6fc5b0;
    font-size: 8px;
    font-weight: bold;
    padding: 2px;
    margin-right: 7px;
}

.cross{
    display: inline-block;
    width: 15px;
    text-align: center;
    line-height: 10px;
    border: 1px solid red;
    border-radius: 50%;
    color: red;
    font-size: 8px;
    font-weight: bold;
    padding: 2px;
    margin-right: 7px;
}

.details {
    display: inline-block;
    border-radius: 9px;
    padding: 7px;
    font-size: 9px;
    color: white;
}

.blue {
    background-color: #47adf1;
}

.violet {
    background-color: #9c72e4;
}

.green {
    background-color: #64c0a8;
}

.orange {
    background-color: #f29e33;
}

.pink {
    background-color: #d863a0;
}

.lightgreen {
    background-color: #b0c926;
}



